body {
    color: rgba(255, 255, 255, 1);
}

section {
    background-color: rgba(28, 28, 28, 1);
    min-height: 100vh;
    width: 100%;
}

.content-wrapper, header {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 5%
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 0;
}

header button {
    color:rgba(255, 255, 255, 1);
    background: none;
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

footer {
    background-color: rgba(28, 28, 28, 1);
    width: 100%;
}

.hero-container {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    display: flex;
    flex-direction: column;
}

a {
    color: rgba(255, 255, 255, 1);
}

.text-green,
#contact a.btn-secondary {
    color: rgba(61, 207, 182, 1);
}

span {
    color: rgba(61, 207, 182, 1);
}

.next-and-previous-feedback span {
    color: rgba(255, 255, 255, 1);
}

h2 {
    color: rgba(61, 207, 182, 1);
}

.hero-container h2 {
    color: rgba(255, 255, 255, 1);
}

h3 {
    color: rgba(255, 255, 255, 1);
}

#skills h3 {
    color: rgba(61, 207, 182, 1);
}

#skills h3 span {
    color: rgba(255, 255, 255, 1);
}

.hero-container .ticker-text,
#contact .subtitle {
    color: rgba(61, 207, 182, 1);
}

.form-group label,
.form-group input,
.form-group textarea {
    color: rgba(61, 207, 182, 1);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.checkbox-group input[type="checkbox"] {
    accent-color: rgba(61, 207, 182, 1);
}

button[type="submit"] {
    color: rgba(255, 255, 255, 1);
}

footer p {
    color: rgba(255, 255, 255, 1);
}

footer div:nth-child(2) p {
    color: rgba(61, 207, 182, 1);
}